{% extends 'base.html' %} {% block content %} {% load customfilters %}
<!-- Start Product Area -->
<div class="product-area section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>All Products</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="product-info">
          <div class="tab-content" id="myTabContent">
            <!-- Start Single Tab -->
            <div class="tab-pane fade show active" id="man" role="tabpanel">
              <div class="tab-single">
                {% if products %}
                <div class="row">
                  {% for product in products %}
                  <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                    <div class="single-product">
                      <div class="product-img">
                        <a href="{% url 'view-product' product.id %}">
                          <img
                            class="default-img"
                            src="{{ product.productimage_set.all.0.image.url }}"
                            alt="#"
                            style="
                              width: 20rem;
                              height: 20rem;
                              object-fit: cover;
                            "
                          />
                          {% if product.productimage_set.all.1.image.url %}
                          <img
                            class="hover-img"
                            src="{{ product.productimage_set.all.1.image.url }}"
                            alt="#"
                            style="
                              width: 20rem;
                              height: 20rem;
                              object-fit: cover;
                            "
                          />
                          {% endif %}
                        </a>
                        <div class="button-head">
                          <div class="product-action">
                            <a
                              data-toggle="modal"
                              data-target="#exampleModal"
                              title="Quick View"
                              href="{% url 'view-product' product.id %}"
                              ><i class="ti-eye"></i><span>View</span></a
                            >
                          </div>
                          <div class="product-action-2">
                            {% if request.user.is_anonymous %}
                            <a
                              title="Add to cart"
                              href="{% url 'add-cart' product.id %}"
                              >Add to cart</a
                            >
                            {% else %} {% if request.user|is_in_cart:product %}
                            <a
                              title="Add to cart"
                              style="cursor: not-allowed; pointer-events: none"
                              href=""
                              >Added to cart</a
                            >
                            {% else %}
                            <a
                              title="Add to cart"
                              href="{% url 'add-cart' product.id %}"
                              >Add to cart</a
                            >
                            {% endif %} {% endif %}
                          </div>
                        </div>
                      </div>
                      <div class="product-content">
                        <h3>
                          <a href="product-details.html"
                            >{{ product.title|title }}</a
                          >
                        </h3>
                        <div class="product-price">
                          <span>Rs. {{ product.unit_price }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
                {% else %}
                <p>No products to show!</p>
                {% endif %}
              </div>
            </div>
            <!--/ End Single Tab -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
<!-- End Product Area -->
