{% extends 'dashboard-template.html' %} {% block content %}
<div class="content" style="min-height: 75vh">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-product">
        <div
          class="card-header"
          style="
            display: flex;
            align-items: center;
            justify-content: space-between;
          "
        >
          <h5 class="card-title">Jobs Posted</h5>
          <a href="{% url 'post-job' %}" class="btn btn-primary btn-round"
            ><i class="nc-icon nc-simple-add"></i> Post Job</a
          >
        </div>
        <div class="card-body">
          <div
            class="d-flex align-items-center"
            style="gap: 1.5rem; justify-content: space-evenly"
          >
            {% if jobs %} {% for job in jobs %}
            <div
              class="col-md-5 col-sm-6"
              style="border: 1px solid #ccc; border-radius: 9px"
            >
              <div class="row">
                <div class="col">
                  <div class="card-block px-2">
                    <h4 class="title">{{ job.title|title }}</h4>
                    <p class="card-text text-justify">
                      Number of positions: {{ job.number_of_positions }}
                    </p>
                    <p class="card-text">Type: {{ job.type }}</p>
                    <p class="card-text">Min-Salry: {{ job.min_salary }}</p>
                    <p class="card-text">Max-Salary: {{ job.max_salary }}</p>
                    <p class="card-text">Location: {{ job.location }}</p>
                    <p class="card-text">{{ job.posted_at }}</p>
                    <a
                      href="{% url 'edit-job' job.id %}"
                      class="btn btn-success btn-round btn-sm p-1"
                      style="width: 6.4rem"
                      >Edit</a
                    >
                    <a
                      href="{% url 'delete-job' job.id %}"
                      class="btn btn-danger btn-round btn-sm p-1"
                      style="width: 6.4rem"
                      >Delete</a
                    >
                  </div>
                </div>
              </div>
            </div>
            {% endfor %} {% else %}
          </div>
          <p class="card-subtitle color-danger">No job posted!</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
