{% extends 'dashboard-template.html' %} {% block content %}
<div class="content" style="min-height: 75vh">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Reviews & Ratings</h5>
        </div>
        <div class="card-body">
          <div class="row mb-3 p-3">
            {% if feedbacks %} {% for feedback in feedbacks %}
            <div
              class="col-md-5 mx-4 mb-5 p-3"
              style="border: 1px solid #ccc; border-radius: 9px"
            >
              <div class="card-block px-2">
                <h4 class="title">{{ feedback.product.title|title }}</h4>
                <p class="card-text text-justify">{{ feedback.review }}</p>
                <p class="card-text title">{{ feedback.customer }}</p>
                <p class="card-text">{{ feedback.timestamp }}</p>
              </div>
            </div>

            {% endfor %} {% else %}
          </div>
          <h6 class="text-danger pb-5">No Feedbacks Yet!</h6>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
